# Ozone Problem

In [1]:
# imports
import numpy as np
from scipy.ndimage import uniform_filter1d
from scipy.stats import shapiro
from matplotlib import pyplot as plt
import pandas

from statsmodels.tsa.seasonal import seasonal_decompose
import statsmodels.api as sm
from statsmodels.stats.stattools import durbin_watson
import statsmodels.formula.api as smf

# Load dataset

## Downloaded CSV from here https://r-data.pmagunia.com/dataset/r-dataset-package-datasets-airquality

In [5]:
data = pandas.read_csv('../Data/Rdataset_airquality.csv')
data.head()

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2
2   12.0    149.0  12.6    74      5    3
3   18.0    313.0  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5

## Rename for convenience

In [9]:
data.rename(columns={'Solar.R': 'Rad'}, inplace=True)
data.head()

   Ozone    Rad  Wind  Temp  Month  Day
0   41.0  190.0   7.4    67      5    1
1   36.0  118.0   8.0    72      5    2
2   12.0  149.0  12.6    74      5    3
3   18.0  313.0  11.5    62      5    4
4    NaN    NaN  14.3    56      5    5

In [21]:
def square_it(x):
    return x**2

# Build a comprehensive model

In [22]:
formula = "Ozone ~ Wind + Rad + Temp + square_it(Wind) + Wind*Temp*Rad -1"  # -1 removes the Intercept
mod1 = smf.glm(formula=formula, data=data).fit()#, family=sm.families.Binomial()).fit()

In [23]:
mod1.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:                  Ozone   No. Observations:                  111
Model:                            GLM   Df Residuals:                      103
Model Family:                Gaussian   Df Model:                            7
Link Function:               identity   Scale:                          335.28
Method:                          IRLS   Log-Likelihood:                -476.08
Date:                Mon, 18 Apr 2022   Deviance:                       34534.
Time:                        10:29:36   Pearson chi2:                 3.45e+04
No. Iterations:                     3   Pseudo R-squ. (CS):             0.9044
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------
Wind               -8.0331      3.504     -2.293      0.022     -14.900      -1.166
Rad                -0.1330      0.377     -0.353      0.724      -0.871       0.605
Temp                1.0515      0.284      3.705      0.000       0.495       1.608
square_it(Wind)     0.4057      0.124      3.275      0.001       0.163       0.648
Wind:Temp          -0.0310      0.049     -0.627      0.531      -0.128       0.066
Wind:Rad           -0.0110      0.037     -0.299      0.765      -0.083       0.061
Temp:Rad            0.0041      0.005      0.842      0.400      -0.005       0.014
Wind:Temp:Rad    2.167e-05      0.000      0.044      0.965      -0.001       0.001
===================================================================================
"""